:root{
    /* paleta1  */
    --LARANJA_AMARELADO:#ffba7c;
    --VERDE_CLARO:#cfe5d0;
    --LARANJA_ESCURO:#e58f52;
    --CINZA_CLARO:#f5e7cc;
    --VERDE_ESCURO:#84cd98;
    --AZUL: #043f47;
}
.card{
    border: 1px solid var(--AZUL);
    padding: 20px;
    
}
.card img{
    width: 500px;
    height: 300px;
    object-fit: contain;
    border-radius: 5px;
}
.card a{
    
}